@import "./variables.scss";

body {
  display: flex;
  justify-content: center;

  color: $text-color;
  background-color: $bg-color;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  min-width: 950px;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  
  margin: 0 auto;
  
  padding-left: 10px;
  height: 50px;
}

button {
  padding: 4px 7px;

  border: none;
  border-radius: 3px;

  color: $text-color;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background: $button-hover-color;
  }
}