@import "./variables.scss";

body {
  display: flex;
  justify-content: center;

  color: $text-color;
  background-color: $bg-color;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  min-width: 950px;
}

footer {
  display: flex;
  align-items: flex-end;

  height: 50px;

  padding-top: 70px;
  padding-left: 10px;
}

button {
  padding: 4px 7px;

  border: none;
  border-radius: 3px;

  color: $text-color;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background: $button-hover-color;
  }
}

.label-text-field {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;
  padding: 10px 0px;

  .label-text {
    padding: 5px 5px;
  }

  input, textarea {
    padding: 9px 12px;

    border: 1px solid $input-bg-color;
    border-bottom: 1px solid $second-color;
    border-radius: 3px;

    color: $text-color;
    background-color: $input-bg-color;

    font-size: 1em;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid $second-color;

      background-color: $button-hover-color;
    }
  }

}

.priority-color-0 {
  color: $priority-0;
}

.priority-color-1 {
  color: $priority-1;
}

.priority-color-2 {
  color: $priority-2;
}