@import "./variables.scss";

.auth {
  padding: 20px 30px;
  display: flex;

  list-style: none;

  .link {
    padding: 7px 10px;

    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $lite-red;
    }
  }
}