@import "./variables.scss";

.auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 24px 10px;

  list-style: none;

  .link {
    display: inline-block;

    padding: 4px 7px;
    margin-left: 5px;

    border-radius: 4px;

    text-decoration: none;
    cursor: pointer;

    .login-button-img {
      display: none;

      img {
        margin-bottom: -4px;
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px 5px;
}

.button-auth {
  display: inline-block;

  border: 2px solid $button-hover-color;
  color: $second-color;

  font-size: 1em;
  font-weight: bold;
  padding: 3px 4px 0px 4px;
  background-color: $input-bg-color;

  &:hover {
    border: 2px solid $second-color;
  }
}

.button-auth-reverse {
  border: 2px solid $second-color;
  color: $bg-color;
  background-color: $second-color;

  font-size: 1em;
  font-weight: bold;

  &:hover {
    border: 2px solid $second-color;

    background-color: $button-hover-color;
    color: $second-color;
  }
}

@media only screen and (max-width: 520px) {
  .register {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .auth {
    padding-top: 18px !important;
  }

  .link {
    padding: 3px !important;
    margin-left: 0px !important;


    .login-button-caption {
      display: none;
    }

    .login-button-img {
      display: inline-block !important;
    }
  }
}

@media only screen and (max-width: 300px) {
  .profile {
    padding-left: 0px;
  }
}