@import "./variables.scss";

.card-in-line {
  position: relative;

  width: 350px;

  padding: 9px 12px;
  margin-bottom: 15px;

  border-radius: 5px;

  background-color: #1d1d23;

  h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 4px 0px;
  }

  .name {
    font-size: 1.4em;

    color: $text-color;
  }

  .number {
    font-weight: bold;
  }

  .priority {
    display: block;

    padding: 2px 0px;

    border-radius: 3px;

    font-size: 0.8em;
    color: #ffffff;
  }

  .time {
    position: absolute;
    top: 12px;
    right: 12px;

    font-size: 0.9em;

    img {
      margin-bottom: -2px;
    }
  }

  .comment {
    padding: 5px 0px;

    color: $comment-color;

    img {
      padding: 2px 4px;
      margin-bottom: -7px;
    }
  }

  .delete-button {
    position: absolute;
    bottom: 7px;
    right: 9px;

    opacity: 0.2;
  }

  .start-order {
    position: relative;
    padding: 7px 10px;

    font-size: 1em;
    font-weight: bold;

    overflow: hidden;

    transition: padding ease 0.1s;

    &::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;

      width: 100%;
      height: 2px;

      background-color: $text-color;

      transform: translateX(-101%);
      transition: transform ease 0.2s;
    }

    &:hover::before {
      transform: translateX(0);
    }

    img {
      margin-left: 5px;
      margin-bottom: -2px;
    }
  }

  &:hover {
    .name {
      color: $main-color;
    }

    .delete-button {
      opacity: 1;
    }

    .start-order {
      padding-left: 20px;
    }
  }
}

.priority-0 {
  box-shadow: -4px -4px 10px 0px #101015,
    4px 4px 0px 0px $priority-0;
}

.priority-1 {
  box-shadow: -4px -4px 10px 0px #101015,
    4px 4px 0px 0px $priority-1;
}

.priority-2 {
  box-shadow: -4px -4px 10px 0px #101015,
    4px 4px 0px 0px $priority-2;
}