@import "./variables.scss";

.contacts {
  display: flex;
  flex-direction: row;

  a {
    display: inline-block;
    position: relative;

    margin-top: 5px;
    margin-left: 7px;

    width: 36px;
    height: 36px;

    color: $lite-red;
    text-decoration: none;
    line-height: 0.9em;

    &:hover svg {
      transition: margin 0.8s;
      bottom: 7px;
      fill: #ff5f8c;
    }
  }

  .source {
    margin-left: 10px;
  }
}

svg {
  position: absolute;
  fill: $lite-red;
}