@import "./variables.scss";

.nav-menu {
  padding: 20px 10px;

  ul {
    display: flex;

    list-style: none;

    .link {
      display: inline-flex;
      align-items: center;

      padding: 7px 10px;

      color: $text-color;
      
      text-decoration: none;
      font-size: 1.2em;
      
      img {
        width: 20px;
        
        margin-right: 10px;
        
        background-color: $button-hover-color;
      }
      
      &:hover {
        color: $main-color;
      }
    }

    .active {
      border-bottom: 1px solid $main-color;
    }
  }
}