@import "./variables.scss";

.nav-menu {
  padding: 20px 5px 20px 10px;

  ul {
    display: flex;

    list-style: none;

    .link {
      display: inline-flex;
      align-items: center;

      height: 100%;

      padding: 7px 10px;

      color: $text-color;

      text-decoration: none;
      font-size: 1.2em;

      img {
        width: 20px;
        margin-right: 5px;

        border-radius: 4px;

        background-color: $button-hover-color;
      }

      &:hover {
        color: $main-color;
      }
    }

    .active {
      border-bottom: 1px solid $main-color;
    }
  }
}

@media only screen and (max-width: 991px) {
  .new-lamp-item-menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .new-order-caption {
    display: none;
  }

  .nav-menu ul .link {
    img {
      background-color: $second-color;
    }
  }
}

@media only screen and (max-width: 380px) {
  .nav-menu {
    ul {
      .link {
        padding: 7px 5px;
      }
    }
  }
}