@import "./variables.scss";

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 9px;

  img {
    width: 36px;
    height: 36px;
  }

  .user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px 7px;

    .full-name {
      font-weight: bold;
    }

    .login {
      color: $main-color;
    }
  }
}

@media only screen and (max-width: 650px) {
  .user-profile {
    display: none;
  }
}