$bg-color: #181818;
$main-color: #eb8a86;
// $second-color: #449fcd;
$second-color: #3581a7;

$text-color: #cecece;
$text-color-grey: #999999;
$comment-color: #b5b5b5;

$pink: #bc4256;
$lite-red: #eb8a86;

$green: #3aac3a;
$lite-green: #a1e3a1;
$violet: #ea63b2;
// $violet: #e98fff;

$button-hover-color: #292932;

$priority-0: #518b21;
$priority-1: #ca8505;
$priority-2: #a03b3b;